/* Landing Page */
.Landing{
position: relative;
width: 1920px;
height: 1080px;
background: #333333;
}

/* Hintergrundbild */
.Hintergrund{
position: relative;
width: 1920px;
height: 1080px;

background-image: url(Hintergrund.jpg);
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
background-position: center;
opacity: 1;

}

/* Kategorien */
.Kategorie{
position: absolute;
width: 1798px;
height: 484.11px;
left: 61px;
top: 457px;
}


/* Rectangle 1 
.Rechteck{
position: absolute;
width: 380px;
height: 380px;
left: 61px;
top: 457px;

background: #C4C4C4;
}
*/

/* Rechenzentrum 2 */
.Server_Bild{
position: absolute;
width: 395px;
height: 5px;
left: 0%;
top: 380px;

background: url(Server1.jpg);
}

/* Server */
.Server_Schrift{
position: relative;
width: 395px;
height: 5px;
left: 40%;
top: 50px;
    
font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 43px;
display: flex;
align-items: center;
text-align: center;

color: #FFF9F9;
}

/* SSD´s */
.Festplatten_Bild{
position: absolute;
width: 380px;
height: 380px;
left: 24%;
top: 380px;

background: url(Festplatte.jpg)
}

/* Festplatten */
.Festplatten_Titel{
position: relative;
width: 395px;
height: 5px;
left: 35%;
top: 50px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 43px;
display: flex;
align-items: center;
text-align: center;

color: #FFF9F9;
}

/* Switches */
.Switches_Bild{
position: absolute;
width: 380px;
height: 380px;
left: 48%;
top: 380px;

background: url(RJ45_Switch_Ports.jpg);
}

/* Switches */
.Switch_Schrift{
position: relative;
width: 159px;
height: 5px;
left: 40%;
top: 50px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 43px;
display: flex;
align-items: center;
text-align: center;

color: #FFF9F9;
}

/* Netzwerkzubehör */
.Netzwerkzubehör_Schrift{
position: relative;
width: 395px;
height: 5px;
left: 25%;
top: 50px;
    
font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 43px;
display: flex;
align-items: center;
text-align: center;
    
color: #FFF9F9;
}
    
    
/* Netzwerkzubehör-Bild */
.Netzwerkzubehör_Bild{
position: absolute;
width: 380px;
height: 380px;
left: 72%;
top: 380px;
    
    
background: url(network-network-cables-connection-plug.jpg);
}


/* IT-Shop */
.IT-Shop{
position: absolute;
width: 252px;
height: 50px;
left: 35px;
top: 20px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 62px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}


/* Wir freuen uns, dass Sie den Weg auf unsere Website gefunden haben. Falls Sie auf der Suche nach IT-Zubehör z.B.: Server, Festplatten, Netzwerkkabel oder Switches sind, dann sind Sie bei uns genau richtig. Wir wünschen Ihnen viel Spaß beim Stöbern. Ihr IT-Shop Team */
.Text-Startseite{
position: absolute;
width: 1157px;
height: 172px;
left: 35px;
top: 120px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 43px;
display: flex;
align-items: center;
*text-align: justify;

color: #FFFCFC;

/*backdrop-filter: blur(4px);*/
/* Note: backdrop-filter has minimal browser support */
}

/* Menüleiste */
.Menüleiste{
position: absolute;
width: 655px;
height: 60px;
left: 1204px;
top: 51px;
}


/* Shop */
.Shop{
position: absolute;
width: 94.45px;
height: 52px;
left: 1310px;
top: 55px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}


/* Polygon 2 */
.Polygon{
position: absolute;
width: 17.96px;
height: 14.01px;
left: 1419.02px;
top: 89.01px;

background: #FFFAFA;
transform: rotate(179.77deg);
}

/* About */
.About{
position: absolute;
width: 80.8px;
height: 52px;
left: 1590px;
top: 55px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}


/* Kontakt */
.Kontakt{
position: absolute;
width: 125px;
height: 52px;
left: 1434px;
top: 55px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}


/* Home */
.Home{
position: absolute;
width: 80.8px;
height: 52px;
left: 1204px;
top: 55px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}


/* Warenkorb gesamt */
.Warenkorb_gesamt{
position: absolute;
width: 126px;
height: 60px;
left: 1733px;
top: 51px;
}


/* Ellipse 1 Warenkorbanzahl */
.Warenkorb_Anzahl_Ellipse{
position: absolute;
width: 126px;
height: 60px;
left: 1733px;
top: 51px;

background: #FFFFFF;
}

/* Warenkorb 1 */
.Warenkorb_Logo{
position: absolute;
width: 44px;
height: 34px;
left: 1763px;
top: 62px;

background: url(Warenkorb.png);
background-blend-mode: lighten;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Anzahl Warenkorb */
.Anzahl_Warenkorb{
position: absolute;
width: 62px;
height: 39px;
left: 1785px;
top: 58px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
